@use "./utilities" as utils;
@use "sass:list";

$colors: ("secondary", "accent", "danger", "success", "warning", "info");


.btn {
  @apply cursor-pointer rounded-[50px] h-[52px] px-8 py-2 text-lg font-medium leading-[36px] transition-all duration-200 flex flex-row items-center justify-center hover:shadow-[0px_5px_15px] hover:shadow-slate-500/60;
  &-emerald {
    @extend .btn;
    @apply bg-gradient-to-r from-emerald-500 to-teal-600 hover:from-emerald-400 hover:to-teal-500 transition-all shadow-[0_0_20px_rgba(16,185,129,0.3)] flex items-center gap-2
  }
  &-primary {
    @extend .btn;
    @extend .bg-gradient-primary;
    @apply border-0 text-center font-medium text-white shadow-lg shadow-primary/20 hover:shadow-glow-primary hover:-translate-y-0.5;
    &-outline {
      @extend .btn;
      @apply border border-primary text-primary bg-transparent hover:bg-primary/10 hover:shadow-glow-primary;
    }
  }
  @each $color in $colors {
    &-#{$color} {
      @extend .btn;

      @apply bg-none border-0 text-white font-medium shadow-lg shadow-#{$color}/20 hover:shadow-glow-#{$color} bg-#{$color} hover:-translate-y-0.5;
      &-outline {
        @extend .btn;
        @apply border border-#{$color} text-#{$color} bg-transparent hover:bg-#{$color}/10;
      }
    }
  }
}
