---
import Features from "@/components/Features.astro";
import ServicesPricing from "@/components/ServicesPricing.astro";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/partials/Cta.astro";
import Faq from "@/components/react/Faq";
import { getEntry } from "astro:content";
import Funnel from "./index/components/Funnel.astro";
import UseCases from "./index/components/UseCases.astro";
import Hero from "./index/components/Hero.astro";

const homepage = await getEntry("homepage", "index");
if (!homepage) {
  throw new Error("Homepage content not found");
}
const { features, faq, document_title, meta_description } = homepage.data;
const call_to_action = homepage.data.call_to_action;
---

<Base title={document_title} description={meta_description}>
  <main class="relative z-10 pt-14 pb-20">
    <div class="container">
      <Hero />
      <Funnel />
      <UseCases />
      <Features features={features} />
      {faq && <Faq client:load {...faq} />}
      <ServicesPricing />
      <Cta {...call_to_action} />
    </div>
  </main>
</Base>
